[2020-08-20 17:17] treviser opened #1 "Plantation: Add Farmers using selection and add date since the farmer is running the plantation"
Instead:

![image](https://user-images.githubusercontent.com/1814941/90803617-54865a00-e319-11ea-99b8-a4efb184c9f2.png)

use:

![image](https://user-images.githubusercontent.com/1814941/90803716-7a136380-e319-11ea-8a4d-c6ec71bcd4a5.png)

and allow to add a date, since when the farmer is running the farm. Label should be "Farming since:"

[2020-08-25 18:02] treviser opened #2 "Plantation: Please add a field GeoPolygon"
See https://github.com/OCA/geospatial/blob/ae0ca9c674ccdb67615a84ec32f1c5b72295fdc7/base_geoengine/fields.py#L266
for more information. I have installed the necessary modules of the OCA geoengine and activated the postgis extension in the database. Time to play around :-)

[2020-09-09 04:35] treviser commented on #2
Just a question:
I receive the following error:

![2020-09-08_12-05](https://user-images.githubusercontent.com/1814941/92554815-8595e280-f266-11ea-929a-23d763ea33af.png)

Is this because I do not have installed the Google Map API properly yet?

[2020-09-09 05:22] treviser opened #3 "Plantation View: Add smart button to display the tree view of all farmers related to the plantation in the past with the "farming since" date"

[2020-09-09 05:24] treviser opened #4 "Farmer View: Add smart button to display a tree view of all plantations, a farmer is actually farming or was farming in the past"

[2020-09-09 06:10] treviser opened #5 "Plantations: History of farmers which were farming the plantation"
Maybe I was not so clear in my description. The relation between plantations and farmers is a manytomany relation, because I want to track the history of farmers, who were farming the plantation over time or - vice versa - the plantations, a farmer is farming as per today and in the past.
Example: farmer 1 was farming plantation 1 from Jan 1 2015 until Dec 31 2017, farmer 2 was farming plantation

[2021-03-25 07:50] treviser opened #6 "incoming_lot_enhancements"
When editing the first (prepopulated) line of the detailed operation tab, there is no lot number created, only when adding a new line, the number is created.
![2021-03-25_08-43](https://user-images.githubusercontent.com/1814941/112437351-23568800-8d47-11eb-90ae-059af15b211a.png)

[2021-03-25 10:16] candidroot commented on #6
@treviser issue solved !

[2021-03-28 05:26] #1 closed, assigned to nobody

[2021-03-28 05:26] #2 closed, assigned to nobody

[2021-03-28 05:45] #6 closed, assigned to nobody

[2021-03-28 05:46] treviser commented on #6
Thanks.

Tested on 20210328, ok

[2021-03-28 08:27] treviser opened #7 "Incoming Lot Enhancements: Catch Weight Backorders not created when nominal weight equals order weight"
If the nominal weight of the reception equals the purchase order weight, there is no backorder created, even if the catch weight is less than nominal ordered weight.
![2021-03-28_08-53](https://user-images.githubusercontent.com/1814941/112746610-230cf580-8fb0-11eb-9b24-25b0fb21bf53.png)

So if after entering a catch weight, which leads to a received quantity of less than the nominal quantity, the

[2021-03-28 09:20] treviser opened #8 "Incoming Lot Enhancement: Do not create new backorders for catch weight corrections, instead change the existing backorders"
We can not create new backorders for catch weight corrections, we must change the existing backorders, for following reason:
The weight corrections are proportionally allocated to farmers, because we do not weigh the lots per farmer separately, therefore we can not make claims against farmers, but against the vendor only.
![2021-03-28_10-19](https://user-images.githubusercontent.com/1814941/112747

[2021-03-29 05:30] treviser opened #9 "agriculture: farmer view changes"
![2021-03-28_07-11](https://user-images.githubusercontent.com/1814941/112790897-a8e87980-9060-11eb-9130-bbd74b8b538f.png)

[2021-04-06 15:31] #7 closed, assigned to candidroot

[2021-04-06 15:34] #8 closed, assigned to candidroot

[2021-04-06 15:39] treviser commented on #9
Please rename the label of the notebook name from "Agriculture" to "Plantations".

[2021-04-06 15:48] treviser opened #10 "Make force date available for receipts after purchase order confirmation"
I'm not sure if this is related to our agriculture project, maybe it is an issue in the bought module?

However, we have to make sure that all weight corrections movements do use the force date, or the effective dates of the original receipts and deliveries.

The image shows the weight correction transfer where it is correct.

![2021-04-05_10-22](https://user-images.githubusercontent.com/1814941/1

[2021-04-06 16:16] treviser opened #11 "[new feature]:agriculture: Import of GeoJson and GPX data for plantations, Polygonize Multilines and close the polygons (start point = end point) if necessary"
We should have the possibility to import geojson data to plantations. At the moment we can draw a polygon on the map and the geo data are then saved.
We should have the possibility to import it on the plantation form and in a second step, to import it by csv/Excel import.
I have found the following documents relating to this matter:

https://github.com/dek-odoo/odoo-import-scripts/blob/master/gis_

[2021-04-08 10:35] candidroot commented on #10
make force_date field readonly in done state.  copy force_date while doing catch weight

[2021-04-09 09:45] treviser commented on #9
![2021-04-09_11-45](https://user-images.githubusercontent.com/1814941/114162170-22b61800-9929-11eb-9790-98b2fb50baff.png)

[2021-04-09 09:48] treviser opened #12 "Detailled Operation does not create Lot number after unlocking a saved receipt"
![2021-04-09_11-37](https://user-images.githubusercontent.com/1814941/114162505-71fc4880-9929-11eb-81a2-21ebb7631042.png)

[2021-04-09 09:49] treviser opened #13 "Plantations: Map View creates Error"
Maybe it is because not all plantations have geo data already? In this case it should only show the available plantations on the map.
![2021-04-09_11-42](https://user-images.githubusercontent.com/1814941/114162730-ac65e580-9929-11eb-8649-fd05881c33a4.png)
![2021-04-09_11-41](https://user-images.githubusercontent.com/1814941/114162741-af60d600-9929-11eb-86f0-d5565e48ca16.png)

[2021-04-09 14:45] treviser commented on #11
Today I had a conversation with my customer, there are 2 import points for my customer:
- we need to have the possibility to import gpx-files directly.
- we can not be sure that the multiline tracks do close perfectly, so when creating the polygons, we should find a solution to close them automatically using shapely or other algorithms. The polygons must not be extremely accurate.

Background: for

[2021-04-10 04:31] #10 closed, assigned to treviser

[2021-04-10 04:49] #9 closed, assigned to treviser

[2021-04-10 04:51] #12 closed, assigned to treviser

[2021-04-10 04:51] #5 closed, assigned to nobody

[2021-04-10 04:52] #4 closed, assigned to nobody

[2021-04-10 04:52] #3 closed, assigned to nobody

[2021-04-25 14:57] treviser opened #14 "Plantation: the plantation name equals the plantation code, plantatation code must be unique"
We should make the plantation name unique and copy the value to the plantation code field. I hesitate to remove the name field.

[2021-04-25 15:05] treviser opened #15 "Farmer: Farmer Code must be unique"
Please add a corresponding error message, which is translateable.

[2021-04-25 15:09] treviser opened #16 "[Error]Weight Correction on pickings"
![2021-04-13_18-42](https://user-images.githubusercontent.com/1814941/115998740-fcf76700-a5e8-11eb-8747-dca1ba5f3bfc.png)

[2021-04-25 15:13] treviser commented on #13
You did reassign this issue to me without any comment. Please let me know about.

[2021-04-27 06:10] candidroot commented on #16
file:///home/sid/Downloads/Magasin%20Carri%C3%A8re_%20Pick%20-%20Odoo.jpg

[2021-04-27 06:11] candidroot commented on #16
@treviser
![Magasin Carrière_ Pick - Odoo](https://user-images.githubusercontent.com/39722234/116193784-832cbe00-a74d-11eb-82c7-b1d64d96f259.jpg)

[2021-04-27 12:18] treviser commented on #16
Sorry for the noise and thanks!

[2021-04-27 13:14] treviser opened #17 "Warning message before posting a backorder"
Before posting a backorder, the system should check if there is already a weight correction made. If not, it should ask:

You have not made a weight correction yet. Do you want to proceed or to make a weight correction first?
It should then offer 2 buttons, one for proceeding and one to leave and create a weight correction.
Text of button 1: "Create Backorder" (original button)
Text of button 2: "

[2021-04-27 13:35] #16 closed, assigned to treviser

[2021-04-27 13:43] treviser opened #18 "Make stock force date mandatory for all stock operations"
It concerns the installed module stock_force_date_app from Edge Technologies

[2021-04-27 13:49] #14 closed, assigned to treviser

[2021-04-27 13:53] #15 closed, assigned to treviser

[2021-04-27 13:54] #13 closed, assigned to treviser, candidroot

[2021-04-27 14:45] treviser opened #19 "History Plantation - Farmers: Entered From and To dates are not saved, instead it takes the current date"
![image](https://user-images.githubusercontent.com/1814941/116261445-efbcb280-a777-11eb-8ea6-cc53b7eda4ca.png)

[2021-04-27 15:00] treviser opened #20 "Smart Button Plantations: Should be renamed to "History""
![image](https://user-images.githubusercontent.com/1814941/116263826-0237eb80-a77a-11eb-9c44-774fea20ba20.png)

[2021-05-01 04:07] treviser commented on #17
This issue does not exist. The weight correction might be done after creating the backorder and the correction moves are done properly. It is necessary to check the mark "Show detailed operation" on all relevant operation types in the inventory settings.

[2021-05-01 04:07] #17 closed, assigned to treviser

[2021-05-01 04:07] #18 closed, assigned to treviser

[2021-07-09 09:32] #20 closed, assigned to treviser

[2021-07-09 09:35] #19 closed, assigned to treviser

[2021-09-16 13:27] dastcaboz opened #21 "Vendor Location Owner must be Farmer Code not Name"
Assigning the Name of a _Farmer_ for the _Vendor Location_ as _Owner_ is not secure because _Name_ is not unique. It would be better to use a unique field such as the _Farmer Code_.

[2021-09-17 07:45] dastcaboz opened #22 "History (owner/farmer) of a plantation cannot get deleted"
<img width="1792" alt="Bildschirmfoto 2021-09-17 um 09 42 37" src="https://user-images.githubusercontent.com/90847414/133744759-a43b69e9-1097-40c6-91db-a39febeeadd3.png">

[2021-09-17 07:49] dastcaboz opened #23 "Delete or archive farmers together with their plantations"
Every year we stop working with certain farmers. To make this process as easy as possible it should be possible to change the status of the farmer and his plantations in one step.

[2021-09-17 08:22] treviser commented on #22
This is by design

The association between farmer and plantation is managed at the farmer side. The history at the plantation side is only for information purposes.

![image](https://user-images.githubusercontent.com/1814941/133749955-5429347e-806f-4f58-ace8-817c38d6939f.png)

If you consider it as important, then this must be marked as enhancement request.

[2021-09-17 08:27] treviser commented on #23
Please assign the proper label from your point of view.

[2021-09-17 08:28] dastcaboz commented on #22
Makes sense. In this case we can close this issue and refer it to issue #23

[2021-09-17 08:28] #22 closed, assigned to dastcaboz

[2021-09-17 08:28] treviser commented on #11
@dastcaboz Dani: please test and close the issue if successful.

[2021-09-17 08:29] dastcaboz commented on #23
What do mean by label?

[2021-09-17 09:06] dastcaboz commented on #23
<img width="2121" alt="Bildschirmfoto 2021-09-17 um 11 04 20" src="https://user-images.githubusercontent.com/90847414/133756227-3a4d99f2-d679-47c3-ba0a-42b77cd8380c.png">
I still get the same bug on MAC OS 11.5.2, Firefox 92.0

[2021-09-17 09:09] dastcaboz commented on #23
<img width="2626" alt="Bildschirmfoto 2021-09-17 um 11 08 45" src="https://user-images.githubusercontent.com/90847414/133756847-e2bcdb06-e8aa-4d64-9e40-4541c39d6b3a.png">
Same issue in Chrome Version 93.0.4577.82 und MacOS 11.5.2

[2021-09-17 09:11] dastcaboz commented on #11
<img width="2121" alt="Bildschirmfoto 2021-09-17 um 11 04 20" src="https://user-images.githubusercontent.com/90847414/133757146-192168ab-e4c8-4b08-a911-3a3756cbe77b.png">
 I still get the same bug on MAC OS 11.5.2, Firefox 92.0

[2021-09-17 09:12] dastcaboz commented on #11
<img width="2626" alt="Bildschirmfoto 2021-09-17 um 11 08 45" src="https://user-images.githubusercontent.com/90847414/133757180-d9317e18-0b4d-47fb-8a50-02d96e91e86d.png">
Same issue in Chrome Version 93.0.4577.82 und MacOS 11.5.2

[2021-09-17 09:18] dastcaboz opened #24 "Plantation: Automated calculation of surface and geograhical centerpoint based on geodata"
Based on uploaded .gpx file odoo should calculate for every plantation:

1. surface in ha with 4 digits precision
2. geographical center point with x / y coordinates

Both informations must get displayed in "Details" tap of the plantation in seperate fields.

The geograhical centerpoint should also get visualized on the map as a point.

[2021-09-17 14:28] dastcaboz opened #25 "Reduced farmer creation form"
Farmer creation form has too many fields we do not need. Unnecessary fields can generate data errors.

Question 1) Is it possible to adapt the fields depending on the type of contact? Individial, Company, Farmer? Some fields might be useful for a company, but not for a farmer.

Question 2) The Tick-box _Is Farmer?_ is maybe better placed at the top of the form next to _Particulier_ and _Company_

[2021-09-20 03:57] treviser opened #26 "Screenshots for Documentation"
![PurchaseOrderPisteurArticles](https://user-images.githubusercontent.com/1814941/133955619-7e871b34-9b83-495a-9d91-69e5a2c550f9.png
![PurchaseOrderPisteurAutres](https://user-images.githubusercontent.com/1814941/133955620-d30f5af2-c0af-4a52-8cd8-6a4d0a4fec9e.png)
![OperationTypeReceipt](https://user-images.githubusercontent.com/1814941/133955623-c40580c0-b8bf-4611-8cdf-3710b6737533.png)
)
![Purch

[2021-09-20 04:08] treviser commented on #26
![InternalInventoryTransfer](https://user-images.githubusercontent.com/1814941/133956174-a86fcf5c-ceed-4e80-ab62-09c3b71572eb.png
![InventoryTransferFromStockToHarbor](https://user-images.githubusercontent.com/1814941/133956179-e49f3894-1084-4c0d-b0a8-119c14d5591d.png)
![MarkTransferToBeDone](https://user-images.githubusercontent.com/1814941/133956180-3c1ce897-1def-418e-859a-ce0d1f26923d.png)
)
![

[2021-09-22 17:19] dastcaboz opened #27 "Limit choice of partners when creating a purchase order"
<img width="1440" alt="Bildschirmfoto 2021-09-22 um 19 14 14" src="https://user-images.githubusercontent.com/90847414/134390613-16346d1c-b6ed-4aef-9d43-a12e7057b90d.png">
Limit the selection in the dropbdown to pisteurs (cocoa buyers) or exclude all farmers from this list.
For your attention: A pisteur can be at the same time a farmer and sell his own production. Do we have to register in this cas

[2021-09-23 04:28] treviser commented on #27
@dastcaboz  For the common understanding please use the english term "purchasing agent" for "Pisteur", as we did so until now.

[2021-09-23 04:42] treviser commented on #27
@dastcaboz Introducing the possibility to assign also the role of a purchasing agent to a farmer seriously breaks our current core design and the traceability. Core property of a farmer is that he has a dedicated vendor location automatically assigned in order to trace his deliveries in lots. On the other hand creating different partners for the same real person is a design flaw and leads to inevi

[2021-09-23 04:45] #27 closed, assigned to treviser

[2021-09-23 05:09] treviser commented on #25
@dastcaboz I'm not sure if this is really helpful. We should not remove the address, we should also not remove the tab "Contacts & Adresses", as it may be of future use and it is not in the way. The only fields which might be obsolote are
- TVA
- Poste Occupé
- Site Web

In my opinion the benefit is by far not worth the effort of changing a default partner form for a particular partner role only.

[2021-09-23 05:25] treviser commented on #25
As an additional remark: the fact that a partner form looks the same throughout the system no matter what kind of partner has a benefit and value by itself for the user.

[2021-09-23 05:38] treviser opened #28 "Adding a partner relation "Final Customer" to the quotation/sales order"
The sales chain after the selling to an exporter at the harbor is not transparent to Caboz and might be very complex. Multiple actors might be involved until the final customer has consumed the sale from Caboz. Nevertheless, the final customer must be able to trace back its deliveries to the farmers on the customer portal.
But Caboz knows the final customer at the time of posting a quotation/sales

[2021-09-23 06:53] dastcaboz commented on #27
Agreed for the first step.

As for the double role of the purchaising agents as a farmer: Yes this would be a design flaw. But as we do not talk about many persons (about 30 purchaising agents in relation to 1550 farmers) I think we can handle this pragmatically for the moment by creating for the same person the to roles. But if there is a way to handle this in within the logic framework even the

[2021-09-23 06:56] dastcaboz commented on #25
Then lets leave it as it is.

[2021-09-23 06:56] #25 closed, assigned to dastcaboz

[2021-09-23 06:59] dastcaboz commented on #28
English: "Final Customer", French: "Client final"

[2021-09-24 08:12] dastcaboz opened #29 "Stock move Vendor Location --> Stock"
When registering the Transfers from _Farmer Vendor Location_ to _Stock_ in the _Purchase Order_ the user must select a _Vendor Location_. Odoo should not save a transfer if the generic _Vendor Loaction_ (Partner Locations/Vendors) is selected. Instead a warning should appear.

<img width="1962" alt="Bildschirmfoto 2021-09-24 um 10 03 24" src="https://user-images.githubusercontent.com/90847414/1346

[2021-09-24 08:17] dastcaboz opened #30 "Document template for Purchase and Sales orders look weird"
Odoo does not generate purchase or sales orders or invoices corresponding to the chosen template.
<img width="977" alt="Bildschirmfoto 2021-09-24 um 10 15 59" src="https://user-images.githubusercontent.com/90847414/134641825-46d6e0fb-59c1-43bd-9995-43250746bec2.png">
[Preview External Report-2.pdf](https://github.com/twanda/vertical-agriculture/files/7224159/Preview.External.Report-2.pdf)

[2021-09-24 08:48] dastcaboz opened #31 "Transfers from a Farmer Loaction should be displayed in farmer view"
Although there is no direct purchase with a farmer (only with the purchase agent) it is important that we can view and analyse in reports how much a farmer has delivered. This would correspond to his stock inventory for a given period.

Transfer of 250 kg from KES/029 to Stock:
<img width="1177" alt="Bildschirmfoto 2021-09-24 um 10 35 55" src="https://user-images.githubusercontent.com/90847414/134

[2021-09-24 09:19] treviser commented on #31
@candidroot A smart button relating to the stock moves of the corresponding vendor location should do the trick I believe.

[2021-09-24 09:52] dastcaboz opened #32 "Internal Pick Move is generated automatically after Stock Move from Vendor Location to Stock"
Pick move from Stock to Output should be a purely manual operation.
<img width="1089" alt="Bildschirmfoto 2021-09-24 um 11 50 12" src="https://user-images.githubusercontent.com/90847414/134655587-466bc3ab-528d-48ed-8d36-01f7eadfabd6.png">

[2021-09-25 10:31] treviser commented on #30
This is a report.url issue (system setup), I will have to take care of it.

[2021-09-25 10:33] treviser commented on #32
@candidroot Please see my skype message to Siddharth, this is very urgent. I can not understand this behaviour, it might be a setup issue, but I'm not aware of where exactly.

[2021-09-25 10:36] treviser opened #33 "Outbound Weight Correction: Show Button only for Pick Operation (Internal Transfer) and not on Sales Deliveries"
The Weight correction button is also visible and available in Sales Order Deliveries. This is not allowed by our workflow design and such a weight correction breaks the workflow and inventory allocation.
In order to avoid unnecessary mistakes and errors please remove the button from all outgoing operations.

[2021-09-26 09:36] dastcaboz opened #34 "Selection of vendor (farmer) localtion differs between warehouses"
The selection of the source Location (farmer vendor location) and the destination location (Stock of the given warehouse) seems to differ depending on the warehouse chosen. With warehouse "Carrière" or "Gueybli" selected odoo does not behave as expected and does not display the correct source location (farmer vendor location).

It works as expected when choosing the "Kessel" warehouse:
<img width=

[2021-09-26 09:45] treviser commented on #34
This is defined in the Inventory/Configuration/Operation Types:
The checkbox "Show Detailed Operations" must be ticked:

![image](https://user-images.githubusercontent.com/1814941/134802600-49ad3d47-587b-44c4-a69c-4a5c8bfa9210.png)

[2021-09-26 09:47] treviser commented on #34
Should work now, please check and close, if working correctly.

[2021-09-26 10:38] dastcaboz opened #35 "Weight corrections in Pick Operations create negative lots in "Stock""
After executing a Pick Operation from "Stock" to "Output" (p.e. 3000 kg) I applied a weight correction for the same Pick Operation (p.e. 3100 kg). If the lots selected for the pick are entirely used for the move from Stock to Output, and the weight correction exeeds the total weight of these lots, odoo creates a negative weight for the lots used.

In my opinion odoo should take the 100 kg from ano

[2021-09-26 10:41] dastcaboz commented on #34
Works as expected now. Thank you Trevi! Greetings from Paris Charle de Gaule.

[2021-09-26 10:41] #34 closed, assigned to dastcaboz

[2021-09-26 10:45] treviser commented on #34
Gute Reise!

[2021-09-28 12:06] candidroot commented on #28
@treviser
In this task do we need to just add partner relation "Final customer" field in quotation/sales order?

is it manually process to fill this field's value on quotation ?

[2021-09-28 13:12] treviser commented on #28
@candidroot

Yes and yes. The field shall not be mandatory.

[2021-09-28 15:17] dastcaboz opened #36 "Additional informations on Farmer lots"
For specific reportings to the authorities we need to integrate additional informations for each farmer lot.

1) the date of the purchase by the buying agent from the farmer. This date may differ from the delivery to our warehouse.

2) the number of bags we puchased from the farmer. Let this be a simple numeric field.

[2021-09-29 14:11] treviser commented on #36
@candidroot This 2 fields have only informational purpose and must be entered manually for each lot at the creation of the lot.

[2021-09-29 14:12] treviser commented on #33
@dastcaboz Please check on test-caboz and close if it works as expected.

[2021-09-29 14:14] treviser commented on #31
@dastcaboz Please check on test-caboz and close if it works as expected.

[2021-09-29 14:15] treviser commented on #29
@dastcaboz Please check on test-caboz and close if it works as expected.

[2021-09-29 14:15] treviser commented on #28
@dastcaboz Please check on test-caboz and close if it works as expected.

[2021-09-29 14:16] treviser commented on #23
@dastcaboz Please check on test-caboz and close if it works as expected.

[2021-09-29 14:17] treviser commented on #21
@dastcaboz Please check on test-caboz and close if it works as expected.

[2021-09-29 14:17] treviser commented on #11
@dastcaboz Please check on test-caboz and close if it works as expected.

[2021-09-30 08:20] treviser commented on #35
@dastcaboz
I still tend to believe that the inventory stock keeping is correct.
When I look at the traceability of the Lots 72 and 73 I see movements, which I can not retrace without knowing what exactly happened.

You can check all movements of a lot like this: Inventory/Master Data/Lots/Serial Numbers:
![lotstraceability](https://user-images.githubusercontent.com/1814941/135414926-8497d666-f060-

[2021-09-30 08:47] dastcaboz commented on #33
Works. Thank you. After some reflections on this problem with weight corrections that produce negative lots, i sugest to remove the possibility to make a weight correction form the following stock mouvements:

- Internat Transfers (Stock to Stock)
- Pick operations (Stock to Output)
- Delivery orders (Output to customer) (already done)

If the estimated weight we send to the port is more than what

[2021-09-30 08:54] dastcaboz commented on #31
I cannot see the new smart button.
<img width="1440" alt="Bildschirmfoto 2021-09-30 um 10 52 24" src="https://user-images.githubusercontent.com/90847414/135420605-a1ad48f1-36ba-4eeb-ac41-3ad61102ae36.png">

[2021-09-30 09:47] dastcaboz commented on #29
Perect. Thank you!

[2021-09-30 09:47] #29 closed, assigned to dastcaboz

[2021-09-30 09:50] dastcaboz commented on #28
This is great. But could you move the field "Final Customer" below the field "Costumer"? Thank you.

[2021-09-30 09:54] dastcaboz commented on #23
Great! Thank you.

[2021-09-30 09:54] #23 closed, assigned to dastcaboz

[2021-09-30 10:23] dastcaboz commented on #21
Still just the name displayed. It should be the farmer code instead. Name field is OK but just as view field after the Farmer Code was selected.
<img width="1440" alt="Bildschirmfoto 2021-09-30 um 12 20 21" src="https://user-images.githubusercontent.com/90847414/135438039-fe4c1203-9512-4f2a-bf66-b567a1861dec.png">

[2021-09-30 10:24] treviser commented on #32
@candidroot Any news on this?

[2021-09-30 10:29] treviser commented on #31
@dastcaboz The smart button "Current Stock" is now directly available at the farmer form view without the detour over the assigned vendor location
![farmercurrentstock](https://user-images.githubusercontent.com/1814941/135439111-e2cc3c10-303b-4ad1-84d7-3627d7fc0a96.png)
.

[2021-09-30 10:55] dastcaboz commented on #31
OK. Sorry for the misunderstanding. Could the current stock be displayed in the smart button just as in the others?

[2021-09-30 11:42] dastcaboz opened #37 "Customized Traceability Report"
We need a customized traceability report for our reporting requirements with the authorities. This applies for each delivery to the port, i.e. the Pick Transfer from Stock to Output. Please see attached excel
[Fiche d'accompagnement.xlsx](https://github.com/twanda/vertical-agriculture/files/7259154/Fiche.d.accompagnement.xlsx)
.

[2021-09-30 12:45] treviser commented on #37
If I understand this correctly, this should be an amended equivalent of our incoming receipt. Can you please provide an english translation of the terms and the relation to the Odoo terms if possible?
My questions at first sight for example:
- what is the chauffer (driver)? Is it the purchasing agent? If not, is it a new partner role?
- What is coopérative? Is it the company or is it the warehouse

[2021-09-30 12:48] treviser commented on #31
@dastcaboz

Please be more specific, I do not understand.

[2021-09-30 13:28] dastcaboz commented on #31
Like this:
<img width="1440" alt="Bildschirmfoto 2021-09-30 um 15 26 12" src="https://user-images.githubusercontent.com/90847414/135464113-edf339de-141e-474c-9e91-5c3a4e35dec0.png">

[2021-09-30 13:29] dastcaboz commented on #31
Corresponds to "On Hand"

[2021-09-30 14:48] dastcaboz commented on #37
Not a new partner. Just the driver of the truck. If possible to resolve with a field without function in the Pick Operation.

The Company. In this case SCOPACI.

No fixed relation. If possible just an empty field without function. Truck and driver can change from delivery to delivery.

This is number communicated to us by the authorities. Field without function on the Pick Operation.

Our certific

[2021-09-30 14:53] dastcaboz commented on #37
Can we separate the weight taken at our warehouse input from the farmer lots? So that the traceability is done on the original weight and our commercial relation with the pisteur on the weight taken at the warehouse input?

What do we do in this case with inventory corrections? If we cannot chnage the farmer lots in the warehouse. Could we use virtual vendor to balance?

[2021-09-30 14:58] treviser commented on #37
@dastcaboz ...those who can read have a clear advantage... :-(
I did not realize that you are talking about the pick deliveries to the harbor, mistakenly I thought about the incoming receipts...

[2021-09-30 15:09] dastcaboz commented on #37
The report is for the pick deliveries to the harbor. But it relates all back to the incoming deliveries from the farmer. To correspond to audit requirements the initial weight must remain the same throughout the traceabilty to the harbour.

At the same time we need to know the eact incoming weight, as this is important for our commercial relatiuon to the buying agent.

Ein harte Nuss das !!

[2021-09-30 15:10] treviser commented on #37
OK, no issue then, as you proposed, just two additional fields in the pick operation (driver and license plate)

It would be the easiest, if we could use the pick slip number created by Odoo. It is unique by design.

You could define projects accordingly (I'd have to install the project app) and then we could assign the related analytical account.

We could take the original pick slip before weigh

[2021-09-30 15:18] dastcaboz commented on #37
I thought about this. But then the total weight of the original farm deliveries does not correspond to the weight of the Pick and the difference to the weight measured at the port might be too large. During audit they compare these weights.

[2021-09-30 15:22] treviser commented on #37
Well, that is mathematically impossible, just plain simple.

[2021-09-30 15:42] treviser commented on #37
The only way out of this mess is probably by weighing the incoming farmer lots separatedly, which by itself means that the produce of the farmer must be packed in bags and these bags must be identifiable by the farmer.

[2021-09-30 16:51] dastcaboz commented on #37
This is unfortunately not possible currently.

[2021-10-01 07:12] candidroot commented on #21
@treviser

Can we display owner field value like "[Farmer code] farmer name"
Example : "[CRS/1026] ASSIRI Yao Jules"

So here you can see farmer name as well as code
Please let me know if is it fine or not ???

[2021-10-01 07:31] dastcaboz commented on #37
I think we have to go ahead with what we have. i.e. weight correction option at warehouse entry.

To make things simple with reports:

- Is it possible to create a report that shows in one column the corrected weight and in another column the original weight?
- At the top of these columns the total of all weights in the column?

[2021-10-01 07:32] dastcaboz commented on #37
Another question we never tested: How does odoo handles stock corrections in our case? Logically it should do the same as with weight corrections?

[2021-10-01 12:12] candidroot commented on #36
@treviser
Hello we add two field in stock production lot form view please have look and let me know is there any update ..
thanks

[2021-10-01 12:56] treviser commented on #36
![image](https://user-images.githubusercontent.com/1814941/135623194-3acb2428-eb71-44eb-accd-7ecea8ece335.png)

It is ok in the stock production lot form, but for easy entering the data, we need it in the receipt form detailed operation.

[2021-10-03 12:18] treviser opened #38 "Receipt Operation: Button Inbound weight correction has disappeared"
![image](https://user-images.githubusercontent.com/1814941/135753271-876819e3-bcf2-4688-8d9c-b573775402da.png)

Why that?

[2021-10-04 06:21] treviser commented on #36
@dastcaboz Please check and mark as solved if successful:

![image](https://user-images.githubusercontent.com/1814941/135802999-4e33ef5f-6e04-4c7e-a663-afcfc493a5e9.png)

[2021-10-04 06:24] treviser commented on #38
@dastcaboz
Please check and mark as closed if successful:

![image](https://user-images.githubusercontent.com/1814941/135803210-3e3591c7-0209-401c-b1b5-a37815ae6201.png)

[2021-10-04 06:27] treviser commented on #21
@candidroot
This is a good idea. As we have more than 1500 farmers in the database, the forward typing feature (autocompletion) is essential. So if it is also possible with your suggestion to type for example "1026" or "Yao" in order to find the corresponding selection containing the same farmer, then it is ok from my point of view.

[2021-10-04 06:37] candidroot commented on #36
@treviser
Hello Here we can use same two new field  which define in  "stock production lot"
So for that you need to select lot_id in "Detailed Operation" instead of use Lot/Serial Number Name,
You can configure from below screen shot

![image](https://user-images.githubusercontent.com/39722234/135804392-c3bc3c6a-14c8-4f37-bd25-708ead8ca2f5.png)

Please let me know for more updates...

[2021-10-04 07:32] treviser commented on #36
@candidroot
I do not really understand what you mean. I have created a new PO00059 for Magasin Carrière which does not have ticked the option "User Existing Lots/Serial Numbers". I have successfully entered the Lot00115 with a purchasing date and a number of bags.

When I then see the LOT00115 in the Inventory App Master Data, the date and bags are not available:

![image](https://user-images.gith

[2021-10-04 07:35] candidroot commented on #21
@treviser
Hello As per Comment i have update code you can search using code and name in owner field.
Please let me know is there any update on this,
thanks

[2021-10-04 07:39] dastcaboz commented on #36
Looks good to me. Just some small corretions for more user comfort.
<img width="1440" alt="Bildschirmfoto 2021-10-04 um 08 47 59" src="https://user-images.githubusercontent.com/90847414/135811844-c88459c0-1ebb-4de6-ba5b-091c5f1b464e.png">

[2021-10-04 08:05] treviser commented on #21
@candidroot
After a short test I see that I can use forward typing for the name, but not for the code. When I enter for example 1026, it asks me to create a new owner instead of showing me ASSIRI:

![image](https://user-images.githubusercontent.com/1814941/135815441-500cdf5c-3888-49ea-8b03-0f34de98f423.png)

[2021-10-04 08:08] #28 closed, assigned to treviser

[2021-10-04 08:10] #31 closed, assigned to treviser

[2021-10-04 08:14] #38 closed, assigned to dastcaboz

[2021-10-04 09:55] candidroot commented on #36
@treviser
please take latest pull and check it
thanks

[2021-10-04 09:56] candidroot commented on #21
@treviser
I already commit code please take latest pull and upgrade module then please check it
thanks.

[2021-10-04 10:13] dastcaboz commented on #36
Layout is now much better.

Still issues:

1) Lot number should not be editable but created automatically by odoo.
<img width="1440" alt="Bildschirmfoto 2021-10-04 um 12 09 51" src="https://user-images.githubusercontent.com/90847414/135833583-7f52bbe5-777d-438b-a247-af11e3c83bc4.png">

2) After saving the form, the date of purchase and the number of bags disappear again.
<img width="1440" alt="Bil

[2021-10-04 10:50] candidroot commented on #32
@treviser
can you please check on test server i already change rule for that.
Please let me know is it working fine or not ??

[2021-10-04 12:28] dastcaboz commented on #36
The bags and the purchase date do not appear in mobile view.

![Bildschirmfoto 2021-10-04 um 12 23 41](https://user-images.githubusercontent.com/90847414/135851256-e53aa60a-cedc-477b-a5e2-00ba3a98e42a.png)

[2021-10-04 13:36] treviser commented on #32
@candidroot
I just broke my notebook and have to fix it. As you have admin access to the test database, could you please test the last changes you have made and provide the screenshots in the related issues? Also please tell me which change you have made to which rule concerning the issue here?

I thank you very much for your support.

[2021-10-05 09:42] candidroot commented on #32
@treviser
Please have look this screenshot in that i have mentioned what i have changes
![screenshot-test-caboz twanda-hosting ch-2021 10 05-15_09_10](https://user-images.githubusercontent.com/39722234/135999549-8cde9f7c-ed30-432f-b52a-1f86fcf7f6f6.png)
.

[2021-10-07 07:06] candidroot commented on #24
@treviser
 I have update code please verify the calculation of area and center point are correct or not

[2021-10-13 13:09] dastcaboz opened #39 "Lost traceability after weight correction"
Traceability back to farmer is lost on lots on which a "Weight Correction" was applied after receiving the goods.

<img width="1440" alt="issue_traceability_on_weight_correction" src="https://user-images.githubusercontent.com/90847414/137138789-6458c81c-ede9-4daa-af68-0791ae839cd7.png">

[2021-10-14 13:15] dastcaboz opened #40 "Show weights in whole numbers without decimal places."
The weight of products should be shown in whole numbers without decimal places.

Current: 56,235, New: 56
Current: 24,561, New 25

[2021-10-15 10:54] dastcaboz opened #41 "Life version: Add Current Stock smart button in Partner view"
In the life version, the smart button showing the current stock is missing I think. Please add as in the test version.
<img width="1440" alt="smart_button_stock" src="https://user-images.githubusercontent.com/90847414/137476450-2c2e60ad-c902-4f0a-8940-b8b48c8bf4fa.png">

[2021-10-15 10:55] dastcaboz commented on #32
This issue is in my opinion resolved.

[2021-10-15 10:57] dastcaboz commented on #21
Is there any progress on this issue?

[2021-10-15 11:06] dastcaboz opened #42 "Current stock in partner list view"
I tried to integrate the current stock in the list view but got an error message. Please resolve this and add the current stock in partner list views.

<img width="1440" alt="stock_in-list-view" src="https://user-images.githubusercontent.com/90847414/137477217-8634528a-1b16-41d7-a838-5f2834357107.png">

<img width="1440" alt="view_current-stock" src="https://user-images.githubusercontent.com/90847

[2021-10-15 11:42] dastcaboz commented on #21
In both, life version and test version, it still just the farmer name as owner, not the famer code or a combinatiuon of bioth. This is not secure!

<img width="1440" alt="life_version_vendor_location-farmer" src="https://user-images.githubusercontent.com/90847414/137481454-33fd1761-f3dd-4156-924a-a964ea8eafe2.png">

[2021-10-15 11:54] dastcaboz opened #43 "Layout of Invoices, etc. are not correct"
The a layout chosen for invoices or other forms is not correctly generated. Probably a problem with css styling.
[Quotation-SO070.pdf](https://github.com/twanda/vertical-agriculture/files/7353184/Quotation-SO070.pdf)

[2021-10-15 12:48] dastcaboz commented on #40
Same issue, new problem: weight corrections can lead to strange decimal inaccuracies, as in below case. This should be avoided with rounding to full kg.

<img width="1440" alt="stock_move_problem_with_decimal_01" src="https://user-images.githubusercontent.com/90847414/137489186-66c5b831-bba1-417b-8594-64c69f7a7b87.png">

<img width="1440" alt="stock_move_problem_with_decimal_02" src="https://user-

[2021-10-15 13:07] dastcaboz opened #44 "Weight correction creates backorder"
A weight correction automatically creates a backorder of the weigght difference. This can be deleted. But it would be better if odoo would not create a backorder at all.
<img width="1440" alt="backorder_from_weight-correction_02" src="https://user-images.githubusercontent.com/90847414/137491661-1597a1a3-e7d5-4e6e-9fec-ce94326c8ba3.png">
<img width="1440" alt="backorder_from_weight-correction" src=

[2021-10-17 07:17] treviser commented on #44
@dastcaboz I think it works now, please check.

[Delivery Slip -  - KES_PICK_00012.pdf](https://github.com/twanda/vertical-agriculture/files/7358997/Delivery.Slip.-.-.KES_PICK_00012.pdf)

[2021-10-17 07:18] treviser commented on #43
@dastcaboz I think it works now, please check and close if correct.
[Delivery Slip -  - KES_PICK_00012.pdf](https://github.com/twanda/vertical-agriculture/files/7359001/Delivery.Slip.-.-.KES_PICK_00012.pdf)

[2021-10-17 07:22] treviser commented on #44
@dastcaboz
This is by design for incoming weight corrections. If there is already a backorder existing, the existing backorder will be adapted. If there is no backorder created yet, a new one must be created in order to ensure the proper fulfillment of the purchase order by the purchasing agent.

[2021-10-17 07:45] treviser commented on #42
@dastcaboz

This can not and is not supposed to work for the following reasons:
- Current Stock in the meaning of Quantity on Hand can only exist for stock locations, not for contacts. Only farmers have directly assigned a stock location.
- Even if you would extend the view to contain a related field to the stock on the corresponding stock location, it should not make too much sense, as in this ca

[2021-10-17 07:52] treviser commented on #42
@dastcaboz I suppose, this should only be meant to work on the farmers tree view, not for general contacts.

[2021-10-17 11:07] treviser opened #45 "Caboz2.twanda-hosting.ch : Unable to update vertical-agriculture modules, model agri.plantation"
@candidroot

I forgot how we fixed that last time, but we have the same issue again on cabo2.twanda-hosting.ch which is the supposed to be the production database.
Credentials are the same as for test-caboz.twanda-hosting.ch, see my Skype message also.

[2021-10-17 11:08] treviser commented on #41
@candidroot See https://github.com/twanda/vertical-agriculture/issues/45

[2021-10-18 11:51] dastcaboz commented on #44
OK. We will have to see how this works in reality. Usually we do not create a backorder for small quantities as it does not make much sense to move a truck to pick small quantities. We rather take this into account when refinancing the purchaising agent the next time.

Cant't we have the same pop-up that lets us decide wether we want to create a backorder or not (instead of creating an automatic b

[2021-10-18 12:09] #43 closed, assigned to dastcaboz

[2021-10-18 12:11] dastcaboz commented on #42
Yes, only in farmer list views.

[2021-10-18 12:18] dastcaboz opened #46 "Life Version: Error message when attempting to open Agriculture Module"
<img width="1440" alt="211018_agriculture-liver-version" src="https://user-images.githubusercontent.com/90847414/137728653-2d219f2e-9564-4f88-a7b6-6d6b631fea05.png">

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/api.py", line 1049, in get
    value = self._data[key][field][record._ids[0]]
KeyError: 424

During handling of the above except

[2021-10-18 12:22] dastcaboz commented on #11
<img width="1440" alt="211018_upload_gpx_on_macOS" src="https://user-images.githubusercontent.com/90847414/137729459-4ac77090-3410-4736-80e8-25d9803505dc.png">

Still the same issue. Please resolve!

[2021-10-18 12:24] dastcaboz commented on #37
Is there any progress on customized traceability report?

[2021-10-18 12:26] dastcaboz commented on #35
As long as a weight correction creates negative lots in stock we cannot use this feature. We will rather replenish Output with an additional stock mmove Stock > Output.

[2021-10-18 12:28] #26 closed, assigned to treviser, dastcaboz

[2021-10-31 08:53] treviser commented on #46
@candidroot
Please check at [caboz2.twanda-hosting.ch](url)

Duplicate of [https://github.com/twanda/vertical-agriculture/issues/45](url)

[2021-10-31 09:11] treviser commented on #44
@dastcaboz
It is not the meaning of a backorder (which creates a new partial receipt transfer operation) to be fullfilled by a separate incoming delivery, but that it is accounted for when the next regular delivery arrives. The backorder will stay in state "ready" as long as it is not fullfilled by the incoming quantities. It is at the discretion of Caboz to cancel such "open" backorders and to "c

[2021-10-31 12:23] treviser commented on #37
[AuthoritiesPickDeliverySlip.xlsx](https://github.com/twanda/vertical-agriculture/files/7448803/AuthoritiesPickDeliverySlip.xlsx)
@dastcaboz
Please check the translated report and provide a meaningful english report title.

@candidroot
This is an additional report based on the Odoo pick delivery slip. It has to be provided to the authorities for pick deliveries delivered to the harbour. It require

[2021-10-31 12:30] treviser commented on #37
@dastcaboz What does Project mean and what is it related to, or is it simply a manually entered field without any relation? You know that we can create projects and/or analytical accounts to relate to, if that is of any interest.

[2021-10-31 12:48] danielstaehli commented on #37
Project means the certification scheme. Currently our operations are Ranforest Alliance (RA) certified. This can change in the future or a second or third certificate might get added. On the delivery slip only one Certification scheme is displayed, depending on the certification under which the customer buys. Could be thta customer A buys Rainforest Alliance, customer B buys Fairtrade.

At this ti

[2021-10-31 13:49] treviser commented on #30
@dastcaboz  should work now properly, please check and close if correct.

[2021-10-31 13:50] treviser commented on #24
@dastcaboz can you please check?

[2021-10-31 15:08] danielstaehli commented on #24
On the testserver I do not see any informations related to the surface calculation or the centrepoint. How can I verify this?

[2021-11-01 08:08] #44 closed, assigned to dastcaboz

[2021-11-01 08:20] dastcaboz commented on #37
I have added a new column with the # of the lot. The # of bags and the weight must correspond to the original lot at reception.
[AuthoritiesPickDeliverySlip.xlsx](https://github.com/twanda/vertical-agriculture/files/7451676/AuthoritiesPickDeliverySlip.xlsx)

[2021-11-01 08:27] treviser commented on #37
@dastcaboz
Please be aware:
- There is no field "Internal Farmer ID", the field is called "Farmer Code"
- Original # bags and original weight are related to the original incoming receipt before any catch weight correction if any

It is important to be as specific and clear as possible :-)

[2021-11-01 08:43] dastcaboz commented on #37
You are right. I adapted the fields in the report.
[AuthoritiesPickDeliverySlip.xlsx](https://github.com/twanda/vertical-agriculture/files/7451811/AuthoritiesPickDeliverySlip.xlsx)

[2021-11-01 08:50] dastcaboz commented on #30
The test version still generates an incorrect layout of the sales bill. I cannot test it in the life version for the moment as there are no bills generated yet.
[document.pdf](https://github.com/twanda/vertical-agriculture/files/7451866/document.pdf)

[2021-11-01 08:52] #46 closed, assigned to candidroot

[2021-11-01 09:00] candidroot commented on #36
@treviser
I committed code please take latest pull and upgrade module then check it,
is there any issue then let me know,
thanks

[2021-11-01 09:02] treviser commented on #36
@candidroot As far as I remember, it works on the test database, but we urgently have to fix the problem with updating the app on the prod database caboz2

[2021-11-01 09:02] candidroot commented on #45
@treviser
Hello, Already upgrade module on "cabo2.twanda-hosting.ch" server please check it,
is there any issue then please let me know,
thanks

[2021-11-01 09:04] candidroot commented on #42
@treviser
I already Commit code please take latest pull and upgrade module then check it,
is there any issue then please let me know,
thanks

[2021-11-01 09:04] treviser commented on #45
@candidroot thanks, what was the reason?

[2021-11-01 09:06] candidroot commented on #41
@treviser
Now you can check on the "caboz2.twanda-hosting.ch"  live server,
I already upgrade module on live server
is there any update please let me know,
thanks

[2021-11-01 09:08] treviser commented on #41
@dastcaboz Can you please check without polluting the production database?

[2021-11-01 09:09] candidroot commented on #45
@treviser
In the live server some packages not installed,
thats why its give error,

[2021-11-01 09:09] treviser commented on #36
@dastcaboz Can you please check on caboz2 without polluting the prod database?

[2021-11-01 09:10] treviser commented on #45
@candidroot which ones?

[2021-11-01 09:14] candidroot commented on #45
@treviser
its python package name is "area"

[2021-11-01 09:15] candidroot commented on #11
@treviser
if possible then can you please make small video on this issue,
so i can easily identify the issue,
thanks

[2021-11-01 09:26] candidroot commented on #24
@treviser
Can you please take latest pull on test server and upgrade module,
then after you can see as below images
![screenshot-localhost_8069-2021 11 01-14_55_48](https://user-images.githubusercontent.com/39722234/139650785-45f6e2fe-ffe3-4dd6-9c38-1a586c43d166.png)

[2021-11-01 09:30] treviser commented on #24
@dastcaboz Please check

[2021-11-01 09:31] treviser commented on #42
@dastcaboz Please check.

[2021-11-01 09:35] candidroot commented on #40
@treviser
can you please tell me on which field you need to remove decimal places ??
if possible then please attach screen shot, so i can easily find it,
thanks

[2021-11-01 11:01] dastcaboz commented on #41
The button is there in life version
[issue # 41.pdf](https://github.com/twanda/vertical-agriculture/files/7452587/issue.41.pdf)

[2021-11-01 11:03] dastcaboz commented on #41
A detail: Can the Current Stock get displayed with a separator for thousands but no decimal places. Thank you

[2021-11-01 11:10] dastcaboz commented on #11
https://user-images.githubusercontent.com/90847414/139662784-0598ef29-9602-4eee-b4e8-bf07c03ab838.mov

[2021-11-01 11:17] dastcaboz commented on #36
Seems to work.
![Issue #36](https://user-images.githubusercontent.com/90847414/139663484-7e7a68c7-1304-4a2a-9403-5c0a891f5a6b.jpg)

[2021-11-01 11:25] dastcaboz commented on #36
But is still not properly displayed in mobile view. The subform in the tap "Detailled operation" is invisible.

![IMG_5A80943CA12F-1](https://user-images.githubusercontent.com/90847414/139664298-cc6ea5ce-2872-46fe-84c7-ec5fc7e10354.jpeg)

[2021-11-01 11:28] dastcaboz commented on #24
It is visible on life server but not test server.
![Issue #24](https://user-images.githubusercontent.com/90847414/139664605-d93e99fa-fe80-48d3-abfb-3c08082385f5.jpg)

[2021-11-01 11:33] dastcaboz commented on #42
List view of farmers is still the same on test and life version.
<img width="1817" alt="Bildschirmfoto 2021-11-01 um 12 32 09" src="https://user-images.githubusercontent.com/90847414/139665395-98fa3c40-ce52-4ad5-a55b-e74f51cbfac6.png">

[2021-11-01 11:34] dastcaboz commented on #40
![issue # 41 02](https://user-images.githubusercontent.com/90847414/139665531-f7d0cfef-62e2-4275-b936-11857e7cd60c.jpg)

[2021-11-01 13:12] candidroot commented on #42
@treviser
Hello,
still i think latest code is not on server,
so please first take latest pull on test server and live server then upgrade module,then check it,
thanks

[2021-11-01 15:14] treviser commented on #45
@candidroot I also did install the package on both servers, I have pulled the latest code on both servers, I have restarted the Odoo server, I have updated the apps list in Odoo and updated our modules. On production (caboz2) everything went smoothly, but on test-caboz I have the same error again when trying to update the agri module. Why is this so shakey? Please advise.

[2021-11-01 15:27] treviser opened #47 "Add new partner roles for farmers."
In a similar design as the social groups with DAG, we have the following roles for farmer partners:
- Spouse (is a spouse of another partner)
- Children (is a child of another partner)
- Workers (is a worker for another partner)

[2021-11-02 06:13] candidroot commented on #45
@treviser
You can see in attach file you missing to install one library,
So i installed in test server and also upgrade module,
now you can check it and let me know is there any update on this,
thanks

![image_2021_11_02T06_07_21_102Z](https://user-images.githubusercontent.com/39722234/139795152-166b1e08-3e13-4420-9575-b534ab64bf5c.png)

[2021-11-02 07:03] treviser commented on #45
It works now, thanks.

[2021-11-02 07:03] #45 closed, assigned to treviser

[2021-11-04 14:11] dastcaboz opened #48 "Current stock Smart button does not show the correct weight"
The customized smart button that shows the stock of each vendor does not show the weight per vendor, but the total volume purchased. It should only show the stock of the vendor selected.

**The figure representing the stock should have a separator for thousands and no dezimals!**

The smart button in these two vendors views show the same stock.

![issue](https://user-images.githubusercontent.com/9

[2021-11-04 14:12] dastcaboz commented on #48
Maybe this is only an issue with the pisteurs.

[2021-11-04 14:28] dastcaboz opened #49 "Important!!! Unabel to receive more than initially demanded"
When creating a incoming delivery (Vendor Location to Stock) odoo blocks the process when more is delivered than originally demanded in the Purchase Order.

The same warning appears, if a through a "Weight Correction" the delivered weight is higher than the ordered weight on the Purchase Order.

Plaese fix this bug quickly as this is a frequent situation.

![issue 3](https://user-images.githubuser

[2021-11-04 14:39] dastcaboz commented on #49
This is the warning if the "Weight Correction" results in a weight that exceeds the originally ordered quantity.
![issue 4](https://user-images.githubusercontent.com/90847414/140334063-1267e5aa-7411-41a2-bb07-0ca2e9dbf664.jpg)

[2021-11-09 06:16] candidroot commented on #49
@treviser
I committed latest code,
Please take latest pull and restart server then check it,
Is there any update on this please let me know,
thanks

[2021-11-09 07:01] candidroot commented on #48
@treviser
I committed code so please take pull and restart server and upgrade module,

The customized smart button that shows the stock of each vendor does not show the weight per vendor, but the total volume purchased. It should only show the stock of the vendor selected
       For this you need to check in partner must have different vendor location, we show current stock base on partner

[2021-11-09 07:32] treviser commented on #49
Updated test and prod server and restarted Odoo.

@dastcaboz Please check.

[2021-11-09 07:33] treviser commented on #49
@candidroot Was this a original Odoo design flaw?

[2021-11-09 09:11] treviser commented on #48
@dastcaboz please check.

[2021-11-09 09:16] treviser commented on #48
@dastcaboz the stock smart button can only work for vendors, which have a dedicated stock location assigned. In our design, this is only valid for farmers, but not for purchasing agents or any other kind of vendors.

[2021-11-09 09:34] candidroot commented on #49
@treviser
No it's our custom code related issue,

[2021-11-09 12:05] treviser commented on #37
@candidroot  Any news on this?

[2021-11-09 12:44] candidroot commented on #37
@treviser can you elaborate this report ? i need more details.

[2021-11-10 16:38] #49 closed, assigned to dastcaboz

[2021-11-10 16:39] #48 closed, assigned to dastcaboz

[2021-11-10 16:44] dastcaboz commented on #30
Still the same issue in the test version.

[2021-11-10 16:45] dastcaboz commented on #30
Same issue in new life version.

[2021-11-10 17:08] treviser commented on #30
@dastcaboz
The corresponding system parameter report.url got lost, probably during the last update, that is really strange and annoying :-(

[2021-11-10 17:09] treviser commented on #30
@dastcaboz Now it is back again, please check.

![image](https://user-images.githubusercontent.com/1814941/141159960-915f4c18-9516-4b50-942f-8bd2349e40cf.png)

[2021-11-10 17:11] treviser commented on #24
@dastcaboz now also on test server, please check.

![image](https://user-images.githubusercontent.com/1814941/141160270-7612fda1-dafa-4404-b6d1-832bb144e1f3.png)

[2021-11-10 17:15] treviser commented on #30
@candidroot  Do you know about something like report.url.freeze :-)    ?????
Same as web.base.url.freeze?

[2021-11-10 17:19] dastcaboz commented on #30
Great thank you!

[2021-11-10 17:19] #30 closed, assigned to dastcaboz

[2021-11-10 17:24] dastcaboz commented on #24
Yes I can see ist is there. But the surface in ha and the position of the centerpoint of the plantation uploaded is not calculated.
![surface_centerponit_callculation_01](https://user-images.githubusercontent.com/90847414/141162093-0a4348c7-2ee1-491e-af8e-b504c593c584.jpg)
![surface_centerponit_callculation_01 jpg](https://user-images.githubusercontent.com/90847414/141162107-84ae5890-9dcf-4647-b2b

[2021-11-12 11:20] candidroot commented on #47
@treviser
Can you please give me more detail on that .. ?

[2021-11-13 11:54] treviser commented on #47
We need to collect and save data about persons (contacts), which are related to farmers as employees (workers), children and/or spouses).

[2021-11-13 11:57] treviser commented on #21
@dastcaboz As we were able to update the code meanwhile, please check.

[2021-11-13 12:02] treviser commented on #24
@candidroot Surface and center point must be calculated from the gpx data.

[2021-11-13 12:05] treviser commented on #37
@candidroot related to the excel-delivery slip provided above, can you please be more specific about what is not clear to you?

[2021-11-15 06:11] candidroot commented on #47
@treviser
Hello,
In to contact form do you need one more selection field in that you can select contact related worker, children, spouses??

[2021-11-15 06:21] candidroot commented on #24
@treviser
Please check attached video
I already did test on test server "https://test-caboz.twanda-hosting.ch/" In that server point calculated from the GPX data

Still not working on your side then,  please make video and send me,
if possible then please also send me GPX file which you uploaded.

https://user-images.githubusercontent.com/39722234/141731946-87007820-ac4d-437e-afe8-fd82a34a6240.mp4

[2021-11-15 07:20] candidroot commented on #11
@treviser
For this Warning issue i committed code, So please take latest pull on both server then check it,
is there any update please let me know,
thanks

[2021-12-02 15:23] dastcaboz commented on #40
Where are we with this issue?

Please review it mainly in relation to the "Weight correction". If the corrected weight is proportianlly distributed on every lot, weights with three digits are generated. This might be correct but not really useful.

Could you change the way odoo distributes the weights on each lot with the aim to have integer numbers (undivided kg's).

In the below illustrated exam

[2021-12-02 15:24] dastcaboz commented on #37
Where do you stand with this issue?

[2021-12-02 15:31] dastcaboz opened #50 "Traceability on container lots"
Our customer would like to have a traceability not only to the port, but further down the value chain up to his warehouse.

Currently we do not manage these steps ourself. But we should already prepare us for this.

This means, we need to be able to follow the traceability after delivery at the port in container lots. One lot contains 25025 kg (385 bags with each 65 kg) and has a unique lot number

[2021-12-02 16:24] dastcaboz opened #51 "Web based traceability report"
Our client would like to trace online the following elements:

- Tracebaility based on container lots
- Current statuts of the delivery (where is it)
- which farmer lots constitute the container lot. This should include

[2021-12-02 16:25] dastcaboz commented on #47
Where do we stand with this issue?

[2021-12-07 12:08] treviser commented on #51
The following questions arise:

- How, when and where is a container identified?
-How when and where and from where (stock locatoion) will a container be loaded?
- What about weights and weight corrections?
Status of delivery:
- Which stati are needed, does it only relate to containers? Should we integrate a container tracking service, such as for example https://spotworx.com/de/automated-containe

[2021-12-07 13:02] dastcaboz commented on #51
The container itself is less important, more important is the export lot number. Each export lot consists of 385 bags with a theoretical weight of 65 kg each. The total theoretical weight of an export lot is 25'025 kg. One export lot fits into a 40 foot standard container.

**Where is a lot identified?**
Possibility 1:
Conventional or certified cocoa is delivered to the port in unidentified bush b

[2021-12-07 13:28] dastcaboz commented on #51
Tracking:
An export lot is usually sent in one container. But the identity of the lot must also remain preserved before and after the transport in a container. The container and the export lot is only the same during some segments of the delivery but not necessarily during the whole jouney (p.e. in the warehouse ate the departing port, in the warehouse of the customer, etc.)

[2021-12-07 14:38] treviser commented on #51
@siddharth7815
Please read this carefully: https://github.com/twanda/vertical-agriculture/issues/51#issuecomment-987905040

Do you have any idea how we could model this packaging process best?

[2021-12-07 14:39] treviser commented on #51
@siddharth7815 maybe we define a container as a package?

[2021-12-09 13:53] candidroot commented on #37
@treviser  From where we need to fetch the "Loading Date (Pick)" and "ID of Pick Delivery" ? is it new fields and manualy data fill?

[2021-12-09 17:05] dastcaboz opened #52 "„City“ in Partner as a related field"
To insure data consistency it would be desirable to change the field „City“ in the partner form into a related table of city name to choose from. Just like the „state“ field. Is this possible?

[2021-12-09 17:10] dastcaboz commented on #47
We would like to start soon integrating more detailed data on farmers and plantations.

How can we accelerate this software development process? Do you need more information from us?

[2021-12-15 13:32] candidroot commented on #37
@treviser  how can we get farmer from picking ? we need to link farmer and receipt. pleae provide your input

[2021-12-16 16:22] treviser commented on #37
@candidroot  Hi Siddharth the pick operation is a a manual push delivery from the warehouse to the harbour and it is processed FIFO, so we have a list of all lots in this delivery. The loading date is the delivery date of this delivery and the ID is the Odoo-Delivery-ID preferably.

[2021-12-29 07:11] candidroot commented on #37
can you provide your answer for this?

[2021-12-29 10:19] dastcaboz commented on #37
@candidroot Hi Siddharth, Trevi is unfortunately at the hospital. I will get in touch with you next week to see how we will procede. Happy new year to you. Best regards, Daniel

[2021-12-29 12:33] candidroot commented on #52
@treviser i have created new module called "base_city_extend". this module have new field(M2o, city_id) and also updated existing city to this new field. you have to install this module(base_city_extend).

[2022-01-04 14:05] dastcaboz opened #53 "Upload new farmer list on productive server"
Hi Siddhardt, we need to delete the farmers already uploaded on the prodction server caboz2.twanda-hosting.ch. I tried it myselef but incountered the following issues:

1. Unable to delete more than one farmer at once.
2. Unable to upload the new farmer list

**Unable to delete more than one farmer:**
https://user-images.githubusercontent.com/90847414/148069933-a9b16029-cf1a-4045-b1f0-9c74ee8abece

[2022-01-06 08:34] dastcaboz commented on #53
Hi Siddharth, please resolve this issue within due time. As Trevi ist still in hospital, please go ahead without his implication.

To do:

1. Delete all existing farmers on the productive server caboz2.twanda-hosting.ch
2. Upload the new farmers with attached excel list

Let me know directly if you have questions.
Thank you for a timely response and best regards, Daniel
[211209_farmers_Annexe_13_n

[2022-01-10 13:01] dastcaboz commented on #53
Hello Siddharth, it is very important that we resolve with this issue fast. Let me know wether you work on it or if you need additional information. As Trevi is still in hospital: can we have a call to see how we collaborate in the meantime?

Best, Daniel

[2022-01-10 13:11] dastcaboz commented on #53
@siddharth7815: please react on above messages, as this is an urgent matter! Thank you, Daniel

[2022-01-11 05:48] candidroot commented on #53
@dastcaboz i do not have production server access. let's have quick call to do this.

[2022-01-11 06:07] candidroot commented on #53
@dastcaboz

1) Unable to delete more than one farmer at once. ==> this has been solved. but you cah not delete farmer because depedent data of invoice,sale.
2) Unable to upload the new farmer list. ==> please make sure you are importing name value for partner as it is required.

[2022-01-13 14:10] dastcaboz commented on #53
@siddharth7815: I am about to get admin access info of the productive server.

[2022-01-13 14:11] dastcaboz commented on #53
@siddharth7815 : How can I reach you. I am on Skype: caboz.daniel.staehli

[2022-01-13 14:14] dastcaboz commented on #53
@siddharth7815: On the production server still impossible to delete more than one farmer at once. There are no dependencies on invoices or sales because there are no sales and purchases registered yet.

[2022-01-13 14:15] dastcaboz commented on #53
@siddharth7815 : what is the name value?

[2022-01-14 11:53] candidroot commented on #53
@dastcaboz Issue has been solved

[2022-01-17 11:17] #53 closed, assigned to dastcaboz

[2022-01-17 11:36] dastcaboz opened #54 "Upload Plantation list"
@siddharth7815: We would now like to upload plantations.

I tried to upload a simple list of plantations on the test server, but failed to attribute the plantations to a farmer.

This is the list I used:
[220117_plantations.xlsx.xlsx](https://github.com/twanda/vertical-agriculture/files/7881480/220117_plantations.xlsx.xlsx)

It is not clear to me to which field the farmer code (in the list) has to

[2022-01-17 12:45] dastcaboz opened #55 "Upload GPX files"
Is there a way to upload GPX files linked to plantations as a list, or do files have to be attached one by one to a plantation?

[2022-01-18 11:22] dastcaboz opened #56 "Productive server: Doubled vendor locations"
@siddharth7815 very urgent:

We started to register purchases on the productive server.

When registering the farmer lots, their vendor location appears twice. Probably a bug in relation to the deleting of the farmer list and upload the new farmer list.

Please resolve this urgently. If this is related with a fundamental bug when updating the farmer list, please resolve this bug.

Thank you, Danie

[2022-01-18 11:24] dastcaboz commented on #56
![double vendor location](https://user-images.githubusercontent.com/90847414/149928617-0267e539-d2cb-41f8-a8ef-4640e2b28df1.jpg)

[2022-01-18 16:54] dastcaboz commented on #56
Issue is partially resolved. Doubled internal vendor locations are deleted.

[2022-01-18 16:55] dastcaboz commented on #56
@siddharth7815 : Please make sure, that when deleting a farmer, also the related vendor location is automatically deleted or at least archived.

[2022-01-18 17:05] dastcaboz opened #57 "Change field "Plantation Code" to a incremential field"
Detach the field "plantation code" from "plantation name". "Plantation Name" can remain an editable field.

"Plantation code" should be changed into an unique, automatically generated name.

The naming system should be structured as follows: KES/P00001

"KES": Abbreviation for the Section (see issue 57)

"P": Plantation

"00001": ascending numerical sequence

[2022-01-18 17:12] dastcaboz opened #58 "Add new field "Section" to Farmer and Plantation"
Create a new field in Farmer and Plantation called "Section". We should be able to generate new sections and to chosse from a list. A farmer or a plantation can be part of one section only.

When creating a new section an abbreviation for the section defined.

Example:

Currently we have three sections (abbreviation in parentheses):

1. Kessel (KES)
2. Carrière (CAR)
3. Duekoue (DKG)

[2022-01-18 17:14] dastcaboz commented on #52
@siddharth7815 : could you please install this module on the test and production server? Thannk you.

[2022-01-18 17:23] dastcaboz opened #59 "Create new field in plantation "Type""
Create a new field in plantation called "Type".

We should be able to specify a plantation and choose from a list we can edit ourself and add new types of plantations.

Example:

Plantation 1, Type: Plantation
Plantation 2, Type: Sump
Plantation 3. Type: Fallow land
etc.

[2022-01-25 16:43] dastcaboz opened #60 "Incoming Products (Receipts): Calculate the total weight of all farmer lots BEFORE validating"
@siddharth7815 :

We need a function that calculates the total of all "Farmer deliveries" on the fly before we validate the form to control entries. Alternatively a button that calculates the total when pressed would be also good.

Without this, we see the total of all farmer lots only after validating.

See screenshot.

![total_farmer_lots](https://user-images.githubusercontent.com/90847414/15102

[2022-01-25 16:50] dastcaboz opened #61 "Incoming Products (Receipts): Unable to register farmer deliveries in mobile view"
In mobile view (p.e. on a tablet) it is not possible to register or edit farmer deliveries.

![IMG_80007A3398FC-1](https://user-images.githubusercontent.com/90847414/151021675-7a7c62cf-d817-47be-8856-1db9a9245c30.jpeg)

[2022-02-01 10:44] dastcaboz opened #62 "Default Operation Type only possible to define in Partner Form when logged in with delevoper mode"
When creating a new partner setting the Default Operation Type under Sales & Purchases is only possible if logged in with Developer Mode activated.

Please correct this that this is accessible to users with Manager role for the Inventory module.

![vendor_partner_1](https://user-images.githubusercontent.com/90847414/151954466-e12a38e1-a783-45a1-8ea0-cb334e332578.jpg)

![vendor_partner_2](https://u

[2022-02-09 12:51] candidroot commented on #61
@dastcaboz .... you need to click one more time to edit the register farmer delivery

[2022-02-09 12:51] candidroot commented on #60
@dastcaboz ...please have a look on test server

[2022-02-09 12:55] candidroot commented on #59
@dastcaboz ...please have a look on test server

https://user-images.githubusercontent.com/39722234/153205281-a38c6fc2-37b5-4637-b888-f9de82197b37.mp4

[2022-02-09 12:55] candidroot commented on #58
@dastcaboz ...please have a look on test server.

[2022-02-09 12:56] candidroot commented on #57
@dastcaboz ...please have a look on test server.

[2022-02-09 12:56] candidroot commented on #56
@dastcaboz ...please test on test server.

[2022-02-09 12:58] candidroot commented on #52
@dastcaboz ....please test on test server.

[2022-02-11 10:42] dastcaboz commented on #62
Issue resolved on test server (test-caboz.twanda-hosting.ch) but not on new production server (caboz2.twanda-hosting.ch). Please resolve it also on this server.

[2022-02-11 11:00] dastcaboz commented on #61
@siddharth7815 … On small screens I can only register and edit one farmer lot delivery. As on the desktop screens we need to be able to register several operations. Please check again.

Small screen (tablet): no possibility to add a second detailed operation.
![IMG_78CB8A3DBD01-1](https://user-images.githubusercontent.com/90847414/153579426-6a2da517-cde2-47a9-8555-22985a20113f.jpeg)

Also in Edit

[2022-02-11 11:04] dastcaboz commented on #60
@siddharth7815 … Issue resolved on test server (test-caboz.twanda-hosting.ch). Perfect.
Please do the same on the new productive server (caboz2.twanda-hosting.ch).
Thank you.

[2022-02-11 12:36] dastcaboz commented on #59
@siddharth7815 … Looks great. Thank you

But we have to extend the data model.

A **farmer** can own one or several **plantations**. A plantation consists of one or several **plots**.

![Page6](https://user-images.githubusercontent.com/90847414/153592191-c24de26b-408d-4025-8a0e-e98be6bb3831.jpg)

What is now a PLANTATION will become a PLOT. Between FARMER and the Plot we need the entity PLANTATION

[2022-02-11 12:37] dastcaboz commented on #58
Great. Thank you

[2022-02-11 12:37] #58 closed, assigned to dastcaboz

[2022-02-11 12:39] dastcaboz commented on #57
Great, Thank you.

[2022-02-11 12:39] #57 closed, assigned to dastcaboz

[2022-02-11 12:43] dastcaboz commented on #56
Works fine. Thank you.

[2022-02-11 12:43] #56 closed, assigned to dastcaboz

[2022-02-11 12:46] dastcaboz commented on #52
@siddharth7815 … Works fine! Please upload it on production server caboz2.twanda-hosting.ch

[2022-02-11 12:46] #52 closed, assigned to dastcaboz

[2022-02-16 06:16] candidroot commented on #55
@dastcaboz can you please provide sample .zip file as per discusstion ?

[2022-02-22 15:34] #59 closed, assigned to siddharth7815, candidroot

[2022-02-22 15:39] dastcaboz opened #63 "Redefine Plantation datamodel"
@ Siddharth: As discussed plaese find a scetch how the new datamodel for plantation should look like:
[Odoo Datenbank Plantation .pdf](https://github.com/twanda/vertical-agriculture/files/8117952/Odoo.Datenbank.Plantation.pdf)

A **person (partner)** is the legal owner of one to several plantations and
owns or exploits one or several plots. The owner of a plantation can be
different from the perso

[2022-02-22 15:40] dastcaboz commented on #62
Please resolve issue also on new production server (caboz2.twanda-hosting.ch).

[2022-02-22 15:41] dastcaboz commented on #61
@ Siddharth: Is issue resolved?

[2022-02-22 15:42] dastcaboz commented on #60
@ Siddharth: Please resolve issue also on production server (caboz2.twanda-hosting.ch).

[2022-02-22 15:44] #55 closed, assigned to candidroot

[2022-02-22 15:48] dastcaboz commented on #51
@ Siddharth: Could we discuss this issue on Skype?

[2022-02-22 15:50] dastcaboz commented on #50
@ Siddharth: Could we discuss this issue on Skype together with issue @51?

[2022-02-22 15:53] #41 closed, assigned to treviser, candidroot

[2022-02-22 15:53] #39 closed, assigned to treviser

[2022-02-22 15:54] #42 closed, assigned to dastcaboz

[2022-02-22 15:55] dastcaboz commented on #40
@siddharth7815 : Is there a possibility to resolve this issue?

[2022-02-22 15:56] #36 closed, assigned to treviser

[2022-02-22 15:58] dastcaboz commented on #35
@siddharth7815 : Can we resolve this issue? No negative moves that produce negative stock.

[2022-02-22 16:00] dastcaboz commented on #33
@siddharth7815 : Please resolve this issue.

[2022-02-22 16:01] #32 closed, assigned to treviser

[2022-02-22 16:02] #24 closed, assigned to treviser

[2022-02-22 16:03] #21 closed, assigned to dastcaboz

[2022-02-22 16:03] #11 closed, assigned to treviser

[2022-05-30 15:31] zemade commented on #63
Hi Siddharth

I am Zeno, the brother of Ermin. As Ermin is still not doing well, I am taking over to support Caboz in going forward with their project. In respect to the above requirement to re-structure the plantation and introduction of plots I have have worked out a specification which is attached to this comment. The objective is, that you can implement the new objects accordingly. As a first

[2022-09-07 08:25] dastcaboz opened #64 "Agriculture Module: Geometry based on GPX files is only defined on „Plot“ not on "Farm"."
<img width="1394" alt="220906_issue_01" src="https://user-images.githubusercontent.com/90847414/188828914-1e34f4b1-58b0-44d3-8519-a3b7accece78.png">

„Farm“: Geometry based on gpx-files is only defined on „Plot“ not in "Farm".

[2022-09-07 08:29] dastcaboz opened #65 "Agriculture Modul: View of "Plot" geometries in „Farm“"
<img width="1394" alt="220906_issue_02" src="https://user-images.githubusercontent.com/90847414/188829332-f9b39d81-2947-4daa-bb49-84cfc332c65e.png">

„Farm“: Geometries in „Farm“ must be a view of all geometries related to the „Farm“.

For future development, it would be good if we can identify differnt types of plots with different colors, and filter them in the geometry view by type.

[2022-09-07 08:30] dastcaboz opened #66 "Agriculture Modul: Choosing farmer and date directly in the form of "Farm""
<img width="1394" alt="220906_issue_03" src="https://user-images.githubusercontent.com/90847414/188830105-686fe629-397d-47ec-8cd5-723553212640.png">

„Farm“: Button on top is not really needed. But it should be possible to change the farmer directly in the form together with the field „Farming since“. Entering the date must be compulsory to save the dataset.

[2022-09-07 08:39] dastcaboz opened #67 "Agriculture Modul: „Area" is only calculated in „Plot“ not in "Farm""
<img width="1394" alt="220906_issue_04" src="https://user-images.githubusercontent.com/90847414/188830601-829c2b33-e616-4d7b-a7e3-4d1af5e0d96b.png">

„Farm“: „Area" is only calculated in „Plot“ to which the gpx File is related to.
Instead we can show here the toatl of all plots related to a plot filtered by type, with information like number of plots, total size in ha:

Example:

<img width="444"

[2022-09-07 08:40] dastcaboz opened #68 "Agriculture Modul: Lists view of related "Plots" in „Farm“"
<img width="1394" alt="220906_issue_05" src="https://user-images.githubusercontent.com/90847414/188832365-e7b3fc7f-d262-4cec-ab74-c6ca290bd5a0.png">

„Farm“: Adapt the lists of Plots related to the „Farm“ (see screenshot)

[2022-09-07 08:45] dastcaboz opened #69 "Agriculture Modul: Several issues in "Farm""
<img width="1394" alt="220906_issue_06" src="https://user-images.githubusercontent.com/90847414/188833312-edb3c528-096e-4bc4-b35d-88f9e1d5fc5b.png">

„Farm“:

1. „Owner“: delete the field „Owner“, because a farm has no related „Owner“ (just a related „Farmer“)
2. List of related „Plots“: We must have a field with the „Name“ (internal UNIQUE Code) as Dropdown, showing all „Plots“ not yet related to

[2022-09-07 08:46] dastcaboz opened #70 "Agriculture Modul: Creation of history records"
<img width="1394" alt="220906_issue_07" src="https://user-images.githubusercontent.com/90847414/188833622-84c2c74d-e8c7-461e-b3ef-8f7382c9868c.png">

History: See comments on screenshot. It is important, that we can change a dataset without automatically creating a new history of a given dataset. We should also be able to delete or change a history record.

[2022-09-07 08:48] dastcaboz opened #71 "Agriculture Modul: "Code" and "Name" in "Farm" and "Plot""
<img width="1394" alt="220906_issue_08" src="https://user-images.githubusercontent.com/90847414/188834952-2a7c5151-17a6-47e7-ac1a-8b45ec00b21d.png">

For "Plot" and "Farm" the field "Name" should be UNIQUE. We use here a internal Code. In all references to "Plot" or "Farm" we should be able to search for this internal Code rather than the code automatically generated by odoo. The field "Code" can

[2022-09-07 08:49] dastcaboz commented on #70
Also note this:

Related to 3) on the screenshot:
If the user wants to save the modified record and he has modified a history controlled field, a popup should be displayed asking privileged users if a correction of the existing record or a version should be created. Normal users should not be allowed to make corrections.

[2022-09-07 08:59] dastcaboz opened #72 "Agriculture Modul: List view of history records of "Plot" and "Farm""
<img width="1394" alt="220906_issue_09" src="https://user-images.githubusercontent.com/90847414/188836215-879ebfc5-18b8-4b90-8c3b-000f77d42f6e.png">

In the list view of the history records of a "Plot" or "Farm" we mainly need the "Valid from" and "Valid until" dates. You can also add "Name" and "Farmer".

[2022-09-07 09:01] dastcaboz opened #73 "Agriculture Modul: Code and Name for "Plot" and "Farm""
<img width="1394" alt="220906_issue_10" src="https://user-images.githubusercontent.com/90847414/188837186-b1603935-20a9-48c9-8236-d15f71f9ab59.png">

In "Plot" and "Farm" the "Name" must be unique. The field "Code" should not be editable and autmatically generated by odoo.

[2022-09-07 09:05] dastcaboz opened #74 "Agriculture Modul: Selection of a "Farm" in "Plot""
<img width="1394" alt="220906_issue_11" src="https://user-images.githubusercontent.com/90847414/188837537-de8ccb04-2a03-4d2e-9396-39d72c66ac8b.png">

To make the selection of a farm more user-friendly, it would be good if

1. we first can select the farmer by name or code.
2. select then in a new field from the farms related to this farmer (only these farms are displayed for selection)

[2022-09-07 09:06] dastcaboz opened #75 "Agriculture Modul: History records, unclear functionality"
<img width="1394" alt="220906_issue_12" src="https://user-images.githubusercontent.com/90847414/188838376-f0416b1b-2fc1-4bf6-8cae-733b17bb3a14.png">

[2022-09-07 09:16] #73 closed, assigned to nobody

[2022-09-08 13:29] candidroot commented on #64
Import GPX has been removed from farm level as per your comment .

[2022-09-08 13:31] candidroot commented on #66
@dastcaboz Change Farmer wizard has been removed.Now you can change farmer from details tab.

[2022-09-08 13:32] candidroot commented on #67
@dastcaboz  Area fields has been removed from farm level.

[2022-09-08 13:34] candidroot commented on #68
@dastcaboz  Change the list view according to your comment except code as it has been removed for avoiding duplication of name and code field.

[2022-09-08 13:35] candidroot commented on #71
@dastcaboz Removed Street2 and removed code from Plots. Applied constraint for unique name of the plot.

[2022-09-08 13:35] candidroot commented on #73
@dastcaboz Removed Farm code. Farm name will be unique issue has been fixed.

[2022-09-08 13:36] candidroot commented on #74
@dastcaboz  Change the position of Farm and Farmer. So now, user can select Farmer first and based on that Farm of that specific farmer will be shown in dropdown.

[2022-09-08 13:36] candidroot commented on #75
@dastcaboz  When you make the configuration for the model using Configuration menu, it will generate runtime views for that specific model.
When you click on 'Generate', then only views will be created and History tab will be shown for the specific model. After that, if you click on 'Unlink views' it will delete the created views.

[2022-09-09 10:17] #64 closed, assigned to siddharth7815, candidroot, zemade, dastcaboz

[2022-09-09 10:18] #66 closed, assigned to siddharth7815, candidroot, zemade

[2022-09-09 10:24] dastcaboz commented on #67
This view would probably better placed in the "Plots" tap.

![grafik](https://user-images.githubusercontent.com/90847414/189329046-376cf343-7f0c-4e06-a1f7-06f8d3dc9259.png)

[2022-09-09 10:24] #68 closed, assigned to siddharth7815, candidroot, zemade

[2022-09-09 10:36] dastcaboz opened #76 "Agriculture Modul: "Name" must be unique in "Plot""
![220909_issue_13](https://user-images.githubusercontent.com/90847414/189331544-501b2b6a-ad36-4fb0-8df2-126ce8f8c466.jpg)

[2022-09-09 10:47] dastcaboz commented on #71
"Name" is still not unique.
If not yet existing: please add a unique ID and display it as a non-editabel field (where "Code" was).
![220909_issue_14](https://user-images.githubusercontent.com/90847414/189333567-a52a27b5-2827-4e94-abb9-02304a275cfc.jpg)

[2022-09-09 10:48] #74 closed, assigned to siddharth7815, candidroot, zemade

[2022-09-09 10:55] dastcaboz opened #77 "Agriculture Modul: Adding GPX files for "Plot""
Currently we cannot add a GPX file to "Plot". Plase add this functionality.

![220909_issue_15](https://user-images.githubusercontent.com/90847414/189334866-93570eb3-bf52-4c40-8dcf-e4f1bd26828d.jpg)

[2022-09-09 12:35] dastcaboz opened #78 "Agriculture Modul: "Owner" in "Plot""
<img width="1299" alt="Bildschirmfoto 2022-09-09 um 14 30 16" src="https://user-images.githubusercontent.com/90847414/189350922-236958b6-761a-4e69-864d-6f78dbe3830e.png">

[2022-09-12 11:40] lulu-maker commented on #65
@dastcaboz could you provide GPX files for plot to display all plots related polygone on farm level.

[2022-09-12 13:00] dastcaboz commented on #65
Hi Siddharth and team,

As discussed some polygones attached.

Best regards,

Daniel

CABOZ AG
Hermetschloostrasse 70
CH-8048 Zürich
Switzerland

Daniel Stähli
***@***.*** ***@***.***>
Phone: +41 76 280 31 57

www.caboz.ch <http://www.caboz.ch/>

[2022-09-12 13:15] dastcaboz commented on #65
[Archiv.zip](https://github.com/twanda/vertical-agriculture/files/9548337/Archiv.zip)

[2022-09-22 11:48] dastcaboz opened #79 "Odoo refuses to create Plot and Farm because of Name"
Unabel to register a new "Plot" or "Farm" because of unique field "Name". Message appears with any name and although there is no other "Farm" or "Plot" yet defined.

<img width="1357" alt="farm_name_unique" src="https://user-images.githubusercontent.com/90847414/191738468-aa07993c-8a70-4c7d-b389-f9d20603e109.png">
<img width="1357" alt="plot_name_unique" src="https://user-images.githubusercontent.

[2022-09-27 05:52] candidroot commented on #65
Geometries in Farm will show view of all geometries related to the plots has been updated on server.

[2022-09-27 06:01] candidroot commented on #67
List view of plot in Farm view has been changes according to discussion in meeting.

[2022-09-27 06:05] siddharth7815 commented on #71
For Plot name unique, constraint applied on the test server.

[2022-09-27 06:06] siddharth7815 commented on #72
Changes in list view of the history records has been updated on test server. Please check.

[2022-09-27 06:09] siddharth7815 commented on #75
Unlink and generate views are responsible to show the History  button and active on Farm/Plot record after configuration. If this is still unclear please let us know.

[2022-09-27 06:13] siddharth7815 commented on #76
Unique farm name changes has been applied to the test server. As discussed , id will be unique for farm and plots.

[2022-09-27 06:14] siddharth7815 commented on #77
Changes related to GPX on plot has been updated on test server. Please check.

[2022-09-27 06:15] siddharth7815 commented on #78
Deleted owner from the plot as mentioned on test.

[2022-09-27 06:16] siddharth7815 commented on #79
Issue has been fixed on test server. Please check .

[2022-09-27 10:13] dastcaboz commented on #77
1. Button "Import GPX" must be moved under tap "Geometry"
2. Button should only show up when in "Modify"-mode (faded out and unklickable when in "saved" mode).
3. Add Google Maps in the background

![issue#77](https://user-images.githubusercontent.com/90847414/192498910-35ceb701-622c-47c5-b501-873261c8a339.jpg)

[2022-09-27 12:23] dastcaboz opened #80 "Agriculture module: List of "Plots" in "Farm""
1. Use odoo standard icons to edit a "Plot" directly from the list
2. To be consistent with odoo standard procedures: Remove the dropdown at the top of the list and add "Add a line" as in the form "Invoices" at the bottom of the list.
3. To which field does "Size" refer? Is it any different from "Calculate Area(hectare)"? If not really needed please remove the column "Size". Rename instead the col

[2022-10-04 13:07] siddharth7815 commented on #69
@dastcaboz issue has been resolved. please have a look.

[2022-10-04 13:10] siddharth7815 commented on #70
@dastcaboz issue has been resolved. please have a look. We are not clear to show popup if valid from has not changed. Need more discussion on this.

[2022-10-04 13:11] siddharth7815 commented on #63
@dastcaboz issue has been resolved. please have a look.

[2022-10-05 14:04] #69 closed, assigned to zemade, dastcaboz

[2022-10-05 14:13] dastcaboz opened #81 "Dialog when Saving a new "Farm""
When saving a new "Farm" the below dialog appears. It is not clear what is meant with "Modify" and "New". "Yes" and "Cancel" would be enough. Do we need it at all?
![issue#70](https://user-images.githubusercontent.com/90847414/194082194-1cca5613-34d5-4f51-84f5-0bf46779a155.jpg)

[2022-10-05 14:20] dastcaboz commented on #70
@siddharth7815 I did not manage to create a new history. We should discuss this in a call.

[2022-10-05 14:22] dastcaboz commented on #63
@siddharth7815 We should look at this in a call.

[2022-10-06 07:19] candidroot commented on #70
@dastcaboz i have implemented this features as per this task: https://github.com/twanda/vertical-agriculture/issues/70

[2022-10-06 09:49] dastcaboz commented on #70
@siddharth7815 you have to show me this tomorrow. I do not understand how to create a new history.

[2022-10-12 13:41] #76 closed, assigned to dastcaboz

[2022-10-12 13:44] #79 closed, assigned to dastcaboz

[2022-10-12 14:32] dastcaboz commented on #70
We leave the concept as currently implemented: When user changes a defined field odoo creates by default a new history. Alternatively user can choose to correct the current record without creating a history. **-> THIS FUNCTION SHOULD BE ATTRIBUTABLE TO A SPECIFIC ROLE.**

We would like to adapt the current concept in some points:

**Dates:**
1. Only "Valid from" is editable by user.
2. "Valid to"

[2022-10-12 14:34] dastcaboz commented on #70
<img width="1440" alt="issue70_01" src="https://user-images.githubusercontent.com/90847414/195371601-cfa4c99c-bd3c-4bc4-919f-9426d4a4abc7.png">
<img width="1440" alt="issue70_02" src="https://user-images.githubusercontent.com/90847414/195371606-a5ac47b2-65bf-4a94-bef0-6f22f02740ee.png">
<img width="1435" alt="issue70_03" src="https://user-images.githubusercontent.com/90847414/195371620-4c73c677-88

[2022-10-12 14:35] #81 closed, assigned to siddharth7815, candidroot, zemade

[2022-10-12 14:38] #78 closed, assigned to dastcaboz

[2022-10-12 14:39] dastcaboz commented on #75
Please demonstarte this functionality to me in a call.

[2022-10-12 14:41] #71 closed, assigned to dastcaboz

[2022-10-12 14:41] #67 closed, assigned to dastcaboz

[2022-10-12 14:42] #63 closed, assigned to siddharth7815, zemade

[2022-10-12 14:42] #65 closed, assigned to zemade, dastcaboz

[2022-11-11 10:01] #72 closed, assigned to dastcaboz

[2022-11-11 12:44] dastcaboz opened #82 "Feel and Look of icons"
![issue_82](https://user-images.githubusercontent.com/90847414/201343338-30e5f9ef-9ee9-4d3a-bbf4-fdf82f371ff8.jpg)

[2022-11-11 12:51] dastcaboz opened #83 "Changes in Form for Plot"
![issue_83](https://user-images.githubusercontent.com/90847414/201344216-d89ec568-8a18-4f34-bef7-a8f27524fb0e.jpg)